MONGODB_URI=mongodb://mongo:27017/mun-uz
PROJECT_URL=https://mun.uz
JWT_SECRET=change_this_to_a_secure_secret_in_production
NODE_ENV=development
ADMIN_USER=admin
ADMIN_PASS=Rn4cl1NZ6S8tC75
FRONTEND_EXPOSE=127.0.0.1:2222
FRONTEND_PORT=80
BACKEND_EXPOSE=127.0.0.1:2223
BACKEND_PORT=2223
MONGODB_EXPOSE=127.0.0.1:2227
MONGODB_PORT=2227